.dashboard {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
  min-height: 70vh;
}

@media screen and (max-width: 600px) {
  .dashboard-inner {
    width: 100%;
  }
}
.dashboard-inner .heading-dash {
  display: flex;
  color: white;
  align-items: center;
  justify-content: space-between;
}
.dashboard-inner .heading-dash .img-con {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.dashboard-inner .heading-dash .img-con img {
  width: 45px;
}
.dashboard-inner .heading-dash span {
  font-weight: bold;
  color: #3DA7DB;
}
.dashboard-inner .heading-dash h3 {
  text-align: center;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .dashboard-inner .heading-dash h3 {
    font-size: 13px;
    margin: unset;
    text-align: left;
    max-width: 200px;
  }
}
.dashboard-inner .dasboard-grid, .dashboard-inner .grid {
  margin-top: 1em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 3em;
}
@media screen and (max-width: 600px) {
  .dashboard-inner .dasboard-grid, .dashboard-inner .grid {
    grid-gap: 15px;
  }
}
.dashboard-inner .grid-dash {
  width: 250px;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-gap: 10px;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid gray;
  border-left: 8px solid red;
  color: white;
}
.dashboard-inner .grid-dash .currency {
  height: 30px;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.dashboard-inner .grid-dash .grid {
  grid-gap: 1em;
}
.dashboard-inner .grid-dash h5, .dashboard-inner .grid-dash h3 {
  margin: 0;
}
.dashboard-inner .grid-dash h5 {
  text-transform: uppercase;
  margin-bottom: 10px;
}
.dashboard-inner .grid-dash small {
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (max-width: 600px) {
  .dashboard-inner .grid-dash {
    width: unset;
    border-left-width: 2px;
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .dashboard-inner .grid-dash small {
    font-size: 8px;
    line-height: 10px !important;
    display: block;
  }
  .dashboard-inner .grid-dash h5 {
    font-size: 11px;
    font-weight: 500;
    margin-bottom: 0;
  }
  .dashboard-inner .grid-dash h3 {
    font-size: 13px;
  }
  .dashboard-inner .grid-dash .grid {
    margin-top: 10px;
  }
  .dashboard-inner .grid-dash .currency {
    width: 30px;
    height: 30px;
    margin-top: 20px;
  }
}
.dashboard-inner .grid-dash.account-balance {
  background-color: green;
  border-color: green;
}
.dashboard-inner .grid-dash.raffle {
  border-left-color: #248dc1;
}
.dashboard-inner .grid-dash.raffle h5, .dashboard-inner .grid-dash.raffle .currency {
  color: #248dc1;
}
.dashboard-inner .grid-dash.transaction {
  border-left-color: red;
}
.dashboard-inner .grid-dash.transaction h5, .dashboard-inner .grid-dash.transaction .currency {
  color: red;
}
.dashboard-inner .grid-dash.game-history {
  border-left-color: yellow;
}
.dashboard-inner .grid-dash.game-history h5, .dashboard-inner .grid-dash.game-history .currency {
  color: yellow;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.side h4 {
  text-align: right;
  color: white;
  max-width: 180px;
  font-weight: 500;
  font-size: 14px;
}
.side .img-con {
  height: 250px;
  max-width: 180px;
  width: 100%;
  background-image: url("../assets/support.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 6px;
}
.side button {
  display: block;
  margin-top: 15px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: white;
  padding: 15px 0;
  max-width: 180px;
}

.below {
  max-width: 200px;
  text-align: right;
  color: #3DA7DB;
  font-size: 11px;
}
.below .top {
  font-weight: 500;
  color: white;
}
.below .top .win {
  color: green;
}
.below .top .lose {
  color: red;
}
.below .grand {
  font-size: 28px;
  color: white;
  font-weight: 600;
}
@media screen and (max-width: 600px) {
  .below {
    text-align: center;
    margin: 0 auto;
    margin-top: -50px;
  }
}

.inner-game-control {
  height: 100%;
  position: relative;
  z-index: 10;
}

.play-main {
  width: 100%;
  max-width: 200px;
  min-width: 200px;
}

.btn-mobile {
  padding: 15px 30px;
  font-size: 13px;
  text-transform: capitalize;
  color: white;
  font-weight: bold;
}

.trans-table {
  max-height: 500px;
  overflow: auto;
  padding-right: 30px;
  margin-top: 20px;
}
.trans-table td, .trans-table th {
  padding: 10px 20px;
  color: white;
  font-size: 13px;
}
.trans-table td:first-child, .trans-table th:first-child {
  padding-left: 0;
}
.trans-table td .status, .trans-table th .status {
  font-size: 10px;
  background-color: gray;
  color: white;
  padding: 2px 10px;
}
.trans-table td .status.lose, .trans-table th .status.lose {
  background-color: red;
}
.trans-table td .status.win, .trans-table th .status.win {
  background-color: green;
}
@media screen and (max-width: 600px) {
  .trans-table {
    margin-right: 0;
    padding-right: 0;
  }
  .trans-table table {
    display: block;
  }
  .trans-table thead, .trans-table tbody {
    width: 100%;
    display: block;
  }
  .trans-table tr {
    display: flex;
    width: 100%;
  }
  .trans-table td, .trans-table th {
    font-size: 9px;
    padding: 10px 0;
    flex: 1;
    text-align: center;
  }
  .trans-table td .status, .trans-table th .status {
    font-size: 7px;
    padding: 2px 0;
    max-width: 50px;
    margin: 0 auto;
  }
  .trans-table th {
    font-weight: 500;
  }
  .trans-table th:nth-child(2) {
    text-align: left;
  }
  .trans-table td:nth-child(2) {
    text-align: left;
  }
  .trans-table tbody tr {
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.1);
  }
}

select, input {
  min-width: 140px;
  font-size: 11px;
  padding: 10px;
  box-sizing: border-box;
}

input {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  color: white;
}

.input-check {
  position: relative;
}
.input-check .open, .input-check .close {
  position: absolute;
  top: -4px;
  left: 0;
}
.input-check .open i, .input-check .close i {
  font-size: 20px;
  color: #248dc1;
}
.input-check .close {
  display: none;
}
.input-check .close i {
  color: white;
}

input[type=checkbox] {
  min-width: unset;
  visibility: hidden;
  position: relative;
}
input[type=checkbox]:checked ~ .open {
  display: none;
}
input[type=checkbox]:checked ~ .close {
  display: block;
}

/*# sourceMappingURL=dashboard.css.map */
