@import url("https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap");
body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", serif;
}

a {
  text-decoration: none;
}

.mobile {
  display: none !important;
}
@media screen and (max-width: 768px) {
  .mobile {
    display: block !important;
  }
}

.desktop {
  display: block !important;
}
@media screen and (max-width: 768px) {
  .desktop {
    display: none !important;
  }
}

html {
  background: url("../assets/bg.png") no-repeat center center fixed;
  background-size: cover;
}

.bg-container {
  height: 100vh;
  max-height: 100vh;
  min-height: 768px;
  overflow: hidden;
  padding: 0 40px;
  box-sizing: border-box;
}
@media screen and (max-width: 768px) {
  .bg-container {
    min-height: unset;
    max-height: unset;
    overflow: unset;
  }
}

.inner-container {
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
@media screen and (max-width: 768px) {
  .inner-container {
    display: block;
  }
}

.heading {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 120px;
}
.heading .brand {
  color: white;
}
.heading .brand img {
  width: 60px;
  margin-top: 20px;
}
.heading .navright {
  display: flex;
  align-items: center;
  list-style: none;
}
.heading .navright img {
  width: 40px;
}
.heading .navright a {
  margin-right: 20px;
}
.heading .navright a:last-child {
  margin-right: 0;
}
.heading .navright li {
  color: white;
  padding: 5px 20px;
  font-weight: 400;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}
.heading .navright li span:hover {
  color: #3DA7DB;
}
.heading .navright li .dropdown {
  position: absolute;
  bottom: 0;
  transform: translateY(100%);
  left: 0;
  min-width: 150px;
  background-color: #1B0C2C;
  padding: 10px;
  border-radius: 4px;
  display: none;
}
.heading .navright li .dropdown a {
  text-decoration: none;
  margin-right: 0;
}
.heading .navright li .dropdown .drop-item {
  font-size: 13px;
  padding: 5px 10px;
  cursor: pointer;
  color: white;
}
.heading .navright li .dropdown .drop-item:hover {
  color: #3DA7DB;
}
.heading .navright li:hover .dropdown {
  display: block;
}
.heading .navright li .profile {
  background-color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
}
.heading .navright li .profile img {
  width: 20px;
}
.heading .navright li.signin {
  background-color: #3DA7DB;
  font-size: 12px;
  padding: 5px 25px;
  border-radius: 30px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}
.heading .navright li.bal {
  background-color: #3DA7DB;
  flex-direction: column;
  font-size: 13px;
  border-radius: 6px;
}
.heading .navright li.bal .inner {
  display: flex;
  align-items: center;
}
.heading .navright li.bal .money {
  font-weight: 600;
  font-size: 17px;
}
.heading .navright li.bal img {
  width: 20px;
  margin-left: 20px;
}

.home-bg {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
}
.home-bg img {
  width: 100%;
}
@media screen and (max-width: 768px) {
  .home-bg {
    position: relative;
    top: 0;
    transform: translate(0, 0);
    width: 100%;
    margin-top: 50px;
  }
}

button {
  background-color: #3DA7DB;
  border: none;
  outline: none;
  padding: 10px 30px;
  color: white;
  border-radius: 4px;
}

h4 {
  color: white;
}

.main-content {
  margin: auto 0;
  min-height: 300px;
}
.main-content h2 {
  font-size: 35px;
  color: white;
  max-width: 350px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 35px;
}
.main-content p {
  font-size: 13px;
  color: white;
  max-width: 550px;
  font-weight: 400;
}
.main-content button {
  margin-top: 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
  padding: 12px 30px !important;
}
@media screen and (max-width: 768px) {
  .main-content {
    min-height: unset;
    margin: 0;
  }
  .main-content h2 {
    font-size: 30px;
    max-width: 250px;
  }
  .main-content p {
    max-width: 300px;
  }
  .main-content button {
    font-size: 13px;
  }
}

.chat {
  background-color: #3DA7DB;
  padding: 2px 10px;
  border-radius: 50%;
  font-size: 24px;
}
.chat i {
  color: white;
}
.chat.fixed {
  position: fixed;
  z-index: 20;
  right: 40px;
  bottom: 40px;
}

.bottom-items-container {
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottom-items-container .bottom-items {
  color: white;
  text-transform: uppercase;
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
}
.bottom-items-container .powered {
  font-size: 9px;
  text-align: center;
}
.bottom-items-container .powered img {
  width: 150px;
}

.input-field-v, .input-field-v1 {
  position: relative;
  margin-right: 10px;
}
.input-field-v:last-child, .input-field-v1:last-child {
  margin-right: 0;
}
.input-field-v.selected, .input-field-v1.selected {
  position: relative;
}
.input-field-v.selected:after, .input-field-v1.selected:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px solid transparent;
  z-index: 2;
  box-sizing: border-box;
  animation: CheckSelected ease-in-out 500ms forwards;
}

@keyframes CheckSelected {
  0% {
    transform-origin: center;
    transform: scale(2);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: scale(1);
    opacity: 1;
    border-color: #10d098;
    visibility: visible;
  }
}
.loader-main {
  position: fixed;
  background-image: url("../assets/bg.png");
  background-color: #1B0C2C;
  width: 100%;
  height: 100vh;
  display: flex;
  left: 0;
  top: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 40;
}
.loader-main .counter {
  margin-top: 40px;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.modal-main {
  position: fixed;
  width: 100%;
  height: 100vh;
  min-height: 768px;
  top: 0;
  left: 0;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
  visibility: hidden;
  opacity: 0;
}
.modal-main .inner {
  width: 100%;
  max-width: 800px;
  height: 60vh;
  border-radius: 4px;
  position: relative;
}
.modal-main .inner .overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
}
.modal-main .inner .content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.modal-main .inner .content .close {
  position: absolute;
  top: 10vh;
  right: 10vh;
  font-size: 30px;
  color: white;
}
.modal-main .inner .content .heading {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
}
.modal-main .inner .content p {
  margin-top: 0;
  font-size: 14px;
}
.modal-main .inner .content .input-control {
  border: none;
  background-color: white;
  width: 100%;
  height: 60px;
  font-size: 24px;
  color: black;
  max-width: 300px;
  border-radius: 2px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}
.modal-main .inner .content button {
  margin-top: 15px;
  padding: 15px 35px;
  color: white;
  font-size: 17px;
  font-weight: bold;
}
@media screen and (max-width: 768px) {
  .modal-main .inner .content .heading {
    font-size: 17px;
  }
  .modal-main .inner .content p {
    text-align: center;
    font-size: 11px;
  }
  .modal-main .inner .content .input-control {
    height: 50px;
    margin-top: 20px;
    max-width: 250px;
    font-size: 17px;
  }
  .modal-main .inner .content button {
    padding: 15px 25px;
    font-size: 14px;
  }
  .modal-main .inner .content .close {
    top: 5vh;
    right: 5vh;
  }
}
@media screen and (max-width: 768px) {
  .modal-main .inner {
    max-width: 80vw;
  }
}
.modal-main#modalMain:target {
  visibility: visible;
  opacity: 1;
}
.modal-main#modalMain2:target {
  visibility: visible;
  opacity: 1;
}
.modal-main#modalMain3:target {
  visibility: visible;
  opacity: 1;
}
.modal-main#modalMain4:target {
  visibility: visible;
  opacity: 1;
}

.won-main {
  color: white;
  margin: 0 auto;
  text-align: center;
  min-height: 550px;
}
.won-main .won {
  font-size: 35px;
  font-weight: 600;
  color: #3DA7DB;
}
.won-main .won.not {
  color: red;
}
.won-main h2 {
  font-weight: bolder;
  font-size: 50px;
  max-width: 100%;
  margin: 0;
  margin-bottom: 20px;
}
.won-main .controls button {
  font-size: 20px;
  width: 230px;
  height: 60px;
  margin-right: 30px;
}
.won-main .controls button:last-child {
  margin-right: 0;
  background-color: transparent;
  border: 2px solid #3DA7DB;
}
@media screen and (max-width: 768px) {
  .won-main .won {
    font-size: 27px;
    margin-bottom: 0;
    margin-top: 30px;
    font-weight: bold;
  }
  .won-main h2 {
    font-size: 30px;
    margin-top: 0px;
  }
  .won-main p {
    max-width: 100%;
  }
  .won-main .controls button {
    margin-right: 0;
    font-size: 15px;
    border-radius: 10px;
    padding: 15px 30px;
  }
  .won-main .controls button:last-child {
    margin-right: 0;
    background-color: transparent;
    border: none;
  }
}

.social-link {
  display: flex;
  width: 100%;
  max-width: 180px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  color: white;
  margin: 0;
  padding: 0 10px;
  box-sizing: border-box;
  margin-top: 20px;
}
.social-link img {
  width: 18px;
}
.social-link .facebook img {
  width: 10px;
}
@media screen and (max-width: 768px) {
  .social-link {
    max-width: 120px;
  }
  .social-link img {
    width: 14px;
  }
  .social-link .facebook img {
    width: 6px;
  }
}

.sharer {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
}
.sharer p {
  font-size: 12px;
  margin-bottom: 5px;
}
.sharer button {
  color: white;
  font-weight: bold;
}

.center-mode {
  margin: 0 auto;
  text-align: center;
}
.center-mode p {
  font-size: 22px;
}
.center-mode .fund-list {
  margin-top: 40px;
  display: flex;
  align-items: center;
}
.center-mode .fund-list .fund-item {
  width: 100px;
  height: 100px;
  border-radius: 20px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
}
.center-mode .fund-list .fund-item img {
  width: 70px;
}
.center-mode .fund-list .fund-item:last-child {
  margin-right: 0;
}
.center-mode .transtart {
  background-color: #A82B2B;
  height: 50px;
  margin-top: 40px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
.center-mode .transtart img {
  width: 40px;
  margin-right: 20px;
}
@media screen and (max-width: 768px) {
  .center-mode .transtart {
    position: fixed;
    z-index: 21;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
    box-sizing: border-box;
    flex-direction: column;
    height: unset;
    padding: 20px;
  }
  .center-mode .transtart img {
    width: 30px;
    margin: 0;
  }
}

.profile-heading {
  display: flex;
}
.profile-heading .pic {
  background-color: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}
.profile-heading .pic img {
  width: 70px;
}
.profile-heading button {
  height: 40px;
  font-size: 12px;
  font-weight: 600;
  margin-left: 20px;
  min-width: 150px;
  text-transform: none;
}
.profile-heading button:last-child {
  background-color: transparent;
  border: 1px solid #3DA7DB;
  color: #3DA7DB;
}
@media screen and (max-width: 768px) {
  .profile-heading {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .profile-heading .pic {
    width: 70px;
    height: 70px;
  }
  .profile-heading .pic img {
    width: 50px;
  }
  .profile-heading .name {
    margin-top: 20px;
    font-size: 14px;
  }
  .profile-heading span {
    font-size: 10px;
    color: #3DA7DB;
  }
}

.profile-input {
  margin-top: 40px;
}

.profile-item {
  display: flex;
  font-size: 12px;
  margin-bottom: 20px;
  align-items: center;
}
.profile-item .title {
  max-width: 100px;
  flex: 1;
  margin-right: 30px;
  text-align: center;
}
.profile-item .input-field {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.6);
}
.profile-item .input-field input {
  flex: 1;
  background-color: transparent;
  padding: 0 20px;
  color: white;
  border: none;
}
.profile-item .input-field.active {
  color: #3DA7DB;
  border-color: rgba(61, 167, 219, 0.6);
}
.profile-item .input-field.active input {
  color: #3DA7DB;
}

.profile-save button {
  padding: 10px 35px !important;
  font-size: 13px;
  text-transform: none;
}
.profile-save p {
  font-size: 13px;
}

.contact h2 {
  font-size: 24px;
  font-weight: 500;
}
.contact .map img {
  width: 650px;
}
.contact .message-field {
  display: flex;
  width: 560px;
  margin: 0 auto;
}
.contact .message-com {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-right: 20px;
}
.contact .message-com input {
  margin-bottom: 20px;
  font-size: 11px;
  height: 30px;
  padding: 0 10px;
}
.contact .text {
  display: flex;
  flex-direction: column;
  flex: 1;
}
@media screen and (max-width: 768px) {
  .contact {
    margin-top: 30px;
  }
  .contact h2 {
    font-size: 15px;
  }
  .contact .message-field {
    width: unset;
    display: block;
    max-width: 250px;
  }
  .contact .message-com {
    margin-right: 0;
  }
  .contact button {
    max-width: 110px;
    margin: 0 auto;
    text-transform: none;
    margin-top: 20px;
  }
}

.transfer-input {
  display: block;
  min-width: 450px;
  max-width: 450px;
  background-color: white;
  width: 100%;
  height: 50px;
  margin-top: 30px;
  padding: 0 20px;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .transfer-input {
    min-width: unset;
    height: 50px;
    max-width: 250px;
  }
}

.transtart.success {
  min-width: 768px;
  background-color: #30A82B;
  height: 60px;
}
@media screen and (max-width: 768px) {
  .transtart.success {
    min-width: unset;
  }
}

.tranfer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tranfer button {
  text-transform: none;
}
.tranfer p {
  font-size: 14px;
  max-width: 700px;
}
@media screen and (max-width: 768px) {
  .tranfer h2 {
    font-size: 14px;
  }
  .tranfer p {
    font-size: 10px;
    max-width: 300px;
  }
}

textarea {
  padding: 10px;
  font-size: 12px;
}

.sidebar {
  position: fixed;
  z-index: 10;
  width: 250px;
  background-color: #1B0F2C;
  top: 0;
  bottom: 0;
  right: -250px;
  transition: 0.5s ease;
  opacity: 0;
  visibility: hidden;
  overflow: auto;
}
.sidebar .close {
  position: absolute;
  right: 20px;
  top: 50px;
}
.sidebar .close i {
  font-size: 30px;
  color: white;
}
.sidebar .profile-con {
  margin-top: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px;
}
.sidebar .profile-con .img-con {
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}
.sidebar .profile-con .img-con img {
  width: 50px;
}
.sidebar .profile-con p {
  margin: 0;
  font-size: 18px;
  color: white;
  font-weight: 600;
}
.sidebar .profile-con small {
  display: block;
  font-size: 11px;
  color: white;
}
.sidebar .main-link {
  list-style: none;
  margin: 0;
  margin-top: 30px;
  padding: 0;
}
.sidebar .main-link li {
  padding: 10px 20px;
  color: white;
  font-size: 14px;
}
.sidebar .main-link li.hoverer:hover {
  background-color: #3DA7DB;
}
.sidebar .main-link li .dropdown {
  margin-top: 10px;
  display: none;
}
.sidebar .main-link li .dropdown .drop-item {
  font-size: 12px;
  padding: 10px 20px;
  color: white;
}
.sidebar .main-link li:hover .dropdown {
  display: block;
}
.sidebar .sub-links {
  margin-top: 20px;
  border-top: 1px solid white;
}
.sidebar .sub-links ol {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 20px;
}
.sidebar .sub-links ol li {
  font-size: 12px;
  font-weight: 300;
  color: white;
  padding: 10px 30px;
}
.sidebar .footer {
  position: relative;
  margin-top: 50px;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.sidebar .footer img {
  width: 100px;
}
.sidebar .footer small {
  font-size: 9px;
  color: white;
  font-weight: 300;
}
.sidebar .footer .ban {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: white;
  font-size: 12px;
  margin-bottom: 20px;
  background-color: #3DA7DB;
  display: flex;
  align-items: center;
  justify-content: center;
}

#sidebar:target {
  right: 0;
  opacity: 1;
  visibility: visible;
}

@media screen and (max-width: 768px) {
  .fund-wallet p {
    font-size: 11px !important;
    max-width: 150px;
    margin: 0 auto;
    margin-top: 30px;
  }
  .fund-wallet p span {
    font-size: 15px;
    font-weight: 600;
  }
  .fund-wallet .fund-list {
    flex-direction: column;
  }
  .fund-wallet .fund-list .fund-item {
    margin: 0;
    height: 65px !important;
    width: 180px;
    margin-bottom: 15px;
  }
  .fund-wallet .fund-list .fund-item img {
    width: 40px !important;
  }
}

.raffle-main .mobile p {
  text-align: center;
  color: white;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .raffle-main .heading-dash input {
    background-color: white;
  }
}

/*# sourceMappingURL=default.css.map */
