.canVas {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #3DA7DB;
}

.input-con .info {
  color: white;
  font-size: 12px;
}
.input-con .input-list, .input-con .input-list1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}
.input-con .input-list input, .input-con .input-list1 input {
  width: 50px;
  height: 50px;
  min-width: unset;
  margin-right: 10px;
  border-radius: 50%;
  border: 8px solid #e6e6e6;
  box-sizing: border-box;
  outline: none;
  display: none;
  background-color: white;
  color: black;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  transform: scale(0);
  visibility: hidden;
  transition: 0.5s ease-in-out;
  opacity: 0;
}
.input-con .input-list input:last-child, .input-con .input-list1 input:last-child {
  margin-right: 0;
}
.input-con .input-list input.show-input, .input-con .input-list1 input.show-input {
  transform: scale(1);
  visibility: visible;
  opacity: 1;
}
@media screen and (max-width: 768px) {
  .input-con .input-list input, .input-con .input-list1 input {
    width: 35px;
    height: 35px;
    font-size: 12px;
    border-width: 4px;
  }
}
@media screen and (max-width: 768px) {
  .input-con {
    min-width: 100px;
    text-align: center;
    margin-top: -10px;
  }
}

.game-con {
  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
.game-con canvas {
  right: 15vw !important;
  top: 6vh !important;
  transform: scale(0.7) !important;
  transform-origin: center;
}
@media screen and (min-width: 1980px) {
  .game-con canvas {
    right: 9vw !important;
  }
}
@media screen and (max-width: 1200px) {
  .game-con canvas {
    right: 3vw !important;
  }
}
@media screen and (max-width: 1000px) {
  .game-con canvas {
    right: -2vw !important;
  }
}
@media screen and (max-width: 900px) {
  .game-con canvas {
    right: unset !important;
    left: -43vw !important;
  }
}
@media screen and (max-width: 768px) {
  .game-con canvas {
    right: unset !important;
    left: unset !important;
    margin-left: -38vw;
    transform: scale(0.6) translateX(0) !important;
    top: -20vh !important;
    position: relative;
  }
}
@media screen and (max-width: 700px) {
  .game-con canvas {
    margin-left: -48vw;
  }
}
@media screen and (max-width: 600px) {
  .game-con canvas {
    margin-left: -62vw;
  }
}
@media screen and (max-width: 550px) {
  .game-con canvas {
    margin-left: -73vw;
  }
}
@media screen and (max-width: 500px) {
  .game-con canvas {
    margin-left: -87vw;
  }
}
@media screen and (max-width: 450px) {
  .game-con canvas {
    margin-left: -109vw;
  }
}
@media screen and (max-width: 420px) {
  .game-con canvas {
    margin-left: -114vw;
  }
}
@media screen and (max-width: 375px) {
  .game-con canvas {
    margin-left: -129vw;
  }
}
@media screen and (max-width: 360px) {
  .game-con canvas {
    margin-left: -137vw;
  }
}
@media screen and (max-width: 320px) {
  .game-con canvas {
    margin-left: -161vw;
  }
}
@media screen and (min-height: 1080px) {
  .game-con canvas {
    transform: scale(0.45) translateX(0) !important;
    top: 11vh !important;
  }
}
@media screen and (max-height: 831px) {
  .game-con canvas {
    transform: scale(0.45) translateX(0) !important;
    top: -32vh !important;
  }
}
@media screen and (max-height: 736px) {
  .game-con canvas {
    top: -34vh !important;
  }
}
@media screen and (max-height: 667px) {
  .game-con canvas {
    transform: scale(0.4) translateX(0) !important;
    top: -43vh !important;
  }
}
@media screen and (max-height: 568px) {
  .game-con canvas {
    transform: scale(0.35) translateX(0) !important;
    top: -53vh !important;
  }
}
@media screen and (max-width: 768px) {
  .game-con {
    top: 0;
    position: relative;
    height: 0;
  }
}

@media screen and (max-width: 411px) {
  .play-mob {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 360px) {
  .play-mob {
    transform: scale(0.6);
  }
}
@media screen and (max-height: 667px) {
  .play-mob {
    margin-top: -5vh;
  }
}

@media screen and (max-width: 420px) {
  .below {
    transform: scale(0.8);
  }
}
@media screen and (max-width: 360px) {
  .below {
    transform: scale(0.6);
  }
}
@media screen and (max-height: 1024px) {
  .below {
    margin-top: 37vh;
  }
}
@media screen and (max-height: 889px) {
  .below {
    margin-top: 46vh;
  }
}
@media screen and (max-height: 823px) {
  .below {
    margin-top: 33vh;
  }
}
@media screen and (max-height: 750px) {
  .below {
    margin-top: 38vh;
  }
}
@media screen and (max-height: 667px) {
  .below {
    margin-top: 34vh;
  }
}
@media screen and (max-height: 568px) {
  .below {
    margin-top: 32vh;
  }
}

.game-box {
  display: flex;
  align-items: center;
  max-width: 200px;
}
.game-box .sider {
  margin-left: 80px;
  position: absolute;
  z-index: 20;
  left: 50%;
  top: 24vh;
}
@media screen and (max-height: 768px) {
  .game-box .sider {
    top: 31vh;
  }
}
@media screen and (max-width: 1024px) {
  .game-box .sider {
    top: 21vh;
    left: 45%;
  }
}
@media screen and (max-width: 768px) {
  .game-box .sider {
    left: unset;
    top: unset;
    text-align: center;
    position: relative;
    min-width: 100px;
    width: 100%;
    margin-left: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
  }
}
.game-box button {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  color: white;
  height: 50px;
}
@media screen and (max-width: 768px) {
  .game-box {
    display: block;
    max-width: 100%;
  }
}

.game-container {
  position: relative;
}
.game-container .mouth-outlet {
  height: 50px;
  width: 40px;
  background-color: #3DA7DB;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  border-top: 1px solid #bee2f3;
}
.game-container .mouth-outlet:before {
  content: "";
  position: absolute;
  top: 5.5px;
  height: 100%;
  left: -10px;
  width: 30%;
  background-color: #3DA7DB;
  border: 2px solid #bee2f3;
  transform: rotateY(-70deg) skewY(-40deg);
}
.game-container .mouth-outlet:after {
  content: "";
  position: absolute;
  top: 5.5px;
  height: 100%;
  right: -10px;
  width: 30%;
  background-color: #3DA7DB;
  border: 2px solid #bee2f3;
  transform: rotateY(70deg) skewY(40deg);
}
.game-container .selected {
  position: absolute;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%) translateY(20px);
  z-index: 3;
}
.game-container .selected .selected-ball {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #a32626;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: none;
  align-items: center;
  justify-content: center;
}
.game-container .selected .selected-ball:last-child {
  margin-right: 0;
}
.game-container .selected .selected-ball:after {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  font-size: 15px;
  font-weight: bold;
  background-color: #f2f2f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
  z-index: 0;
}
.game-container .ball-rack {
  position: absolute;
  z-index: 3;
  height: 50px;
  width: 160px;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  background-color: #b3b3b3;
  border: 2px solid #f2f2f2;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.game-container .ball-rack .ball-empty {
  margin-right: 10px;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: #e6e6e6;
  position: relative;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.game-container .ball-rack .ball-empty:last-child {
  margin-right: 0;
}
.game-container .ball-rack .ball-empty:after {
  content: attr(data-value);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
  height: 60%;
  background-color: #f2f2f2;
  border-radius: 50%;
  font-weight: 600;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border: 2px solid white;
}
.game-container .avatar {
  position: absolute;
  background-image: url("../assets/logo.png");
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 7px solid #e6e6e6;
  background-color: black;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  z-index: 5;
}
.game-container .avatar:after {
  z-index: 1;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  height: calc(100% + 4px);
  width: calc(100% + 4px);
  border-radius: 50%;
  border: 1.5px solid rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.game-container .avatar:before {
  z-index: 1;
  content: "";
  position: absolute;
  top: -7.5px;
  left: -7.5px;
  height: calc(100% + 15px);
  width: calc(100% + 15px);
  border-radius: 50%;
  border: 1.5px solid white;
  box-sizing: border-box;
}
.game-container .kicker {
  position: absolute;
  z-index: 4;
  background-color: #b2a880;
  top: 50%;
  left: 50%;
  width: 90%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotateZ(0);
  height: 10px;
  border-radius: 50%;
}
.game-container .cover-rack {
  position: absolute;
  background-image: url("../assets/bg3.png");
  background-size: cover;
  background-repeat: no-repeat;
  top: 50px;
  box-sizing: border-box;
  left: 0;
  width: 100%;
  height: 350px;
  background-position: center;
  z-index: 6;
  border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 50%;
}

.keys-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  min-width: 200px;
  max-width: 400px;
}
@media screen and (max-width: 768px) {
  .keys-con {
    max-width: 200px;
  }
}
.keys-con .key-item {
  background-color: white;
  color: black;
  font-weight: 500;
  height: 40px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s ease;
}
.keys-con .key-item:hover {
  background-color: #3DA7DB;
  color: white;
}
.keys-con .key-item img {
  width: 20px;
}

@keyframes rotate {
  to {
    transform-origin: center center;
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
}

/*# sourceMappingURL=main.css.map */
