@import "./theme";

.canVas {
  width: 350px;
  height: 350px;
  border-radius: 50%;
  position: relative;
  margin: 50px auto;
  box-sizing: border-box;
  overflow: hidden;
  background-color: $buttonColor;
}

.input-con{
  .info{
    color: white;
    font-size: 12px;
  }

  .input-list, .input-list1{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
    input{
      width: 50px;
      height: 50px;
      min-width: unset;
      margin-right: 10px;
      border-radius: 50%;
      border: 8px solid darken(white, 10%);
      box-sizing: border-box;
      outline: none;
      display: none;
      background-color: white;
      color: black;
      font-size: 15px;
      font-weight: bold;
      text-align: center;
      transform: scale(0);
      visibility: hidden;
      transition: .5s ease-in-out ;
      opacity: 0;
      &:last-child{
        margin-right: 0;
      }

      &.show-input{
        transform: scale(1);
        visibility: visible;
        opacity: 1;
      }

      @media screen and (max-width: 768px) {
        width: 35px;
        height: 35px;
        font-size: 12px;
        border-width: 4px;
      }
    }
  }

  @media screen and (max-width: 768px) {
    min-width: 100px;
    text-align: center;
    margin-top: -10px;
  }
}

.game-con{

  flex: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;



  canvas{
    right: 15vw !important;
    top: 6vh !important;
    transform: scale(0.7) !important;
    transform-origin: center;

    @media screen and (max-width: 1200px) {
      right: 3vw !important;
    }

    @media screen and (max-width: 1000px) {
      right: -2vw !important;
    }

    @media screen and (max-width: 900px) {
      right: unset !important;
      left: -43vw !important;
    }

    @media screen and (max-width: 768px) {
      right: unset !important;
      left: unset !important;
      margin-left: -38vw;
      transform: scale(0.6) translateX(0) !important;
      top: -20vh !important;
      position: relative;
    }
    @media screen and (max-width: 700px) {
      margin-left: -48vw;
    }
    @media screen and (max-width: 600px) {
      margin-left: -62vw;
    }
    @media screen and (max-width: 550px) {
      margin-left: -73vw;
    }
    @media screen and (max-width: 500px) {
      margin-left: -87vw;
    }
    @media screen and (max-width: 450px) {
      margin-left: -109vw;
    }
    @media screen and (max-width: 420px) {
      margin-left: -114vw;
    }
    @media screen and (max-width: 375px) {
      margin-left: -129vw;
    }
    @media screen and (max-width: 360px) {
      margin-left: -137vw;
    }
    @media screen and (max-width: 320px) {
      margin-left: -161vw;
    }


    @media screen and (max-height: 831px) {
      transform: scale(0.45) translateX(0) !important;
      top: -32vh !important;
    }
    @media screen and (max-height: 736px) {
      top: -34vh !important;
    }
    @media screen and (max-height: 667px) {
      transform: scale(0.40) translateX(0) !important;
      top: -43vh !important;
    }
    @media screen and (max-height: 568px) {
      transform: scale(0.35) translateX(0) !important;
      top: -53vh !important;
    }

  }
  @media screen and (max-width: 768px) {
    top: 0;
    position: relative;
    height: 0;
  }
}

.play-mob{
  @media screen and (max-width: 411px) {
    transform: scale(0.8);
  }
  @media screen and (max-width: 360px) {
    transform: scale(0.6);
  }



  @media screen and (max-height: 667px) {
    margin-top: -5vh;
  }
}

.below{
  @media screen and (max-width: 420px) {
    transform: scale(0.8);
  }
  @media screen and (max-width: 360px) {
    transform: scale(0.6);
  }



  @media screen and (max-height: 1024px) {
    margin-top: 37vh;
  }
  @media screen and (max-height: 889px) {
    margin-top: 46vh;
  }
  @media screen and (max-height: 823px) {
    margin-top: 33vh;
  }
  @media screen and (max-height: 750px) {
    margin-top: 38vh;
  }
  @media screen and (max-height: 667px) {
    margin-top: 34vh;
  }
  @media screen and (max-height: 568px) {
    margin-top: 32vh;
  }
}

.game-box{
  display: flex;
  align-items: center;
  max-width: 200px;

  .sider{
    margin-left: 80px;
    position: absolute;
    z-index: 20;
    left: 50%;
    top: 24vh;

    @media screen and (max-height: 768px){
      top: 31vh;
    }

    @media screen and (max-width: 1024px){
      top: 21vh;
      left: 45%;
    }

    @media screen and (max-width: 768px) {
      left: unset;
      top: unset;
      text-align: center;
      position: relative;
      min-width: 100px;
      width: 100%;
      margin-left: unset;
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 30px;
    }
  }

  button{
    width: 100%;
    font-size: 16px;
    font-weight: bold;
    color: white;
    height: 50px;
  }



  @media screen and (max-width: 768px) {
    display: block;
    max-width: 100%;
  }

}

.game-container{
  position: relative;

  .mouth-outlet{
    height: 50px;
    width: 40px;
    background-color: $buttonColor;
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    border-top: 1px solid lighten($buttonColor, 30%);

    &:before{
      content: "";
      position: absolute;
      top: 5.5px;
      height: 100%;
      left: -10px;
      width: 30%;
      background-color: $buttonColor;
      border: 2px solid lighten($buttonColor, 30%);
      transform: rotateY(-70deg) skewY(-40deg) ;
    }

    &:after{
      content: "";
      position: absolute;
      top: 5.5px;
      height: 100%;
      right: -10px;
      width: 30%;
      background-color: $buttonColor;
      border: 2px solid lighten($buttonColor, 30%);
      transform: rotateY(70deg) skewY(40deg) ;
    }
  }

  .selected{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%) translateY(20px);
    z-index: 3;

    .selected-ball{
      margin-right: 10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: #a32626;
      &:last-child{
        margin-right: 0;
      }
      position: relative;
      box-shadow: 0 2px 5px rgba(black, 0.1);
      display: none;
      align-items: center;
      justify-content: center;
      &:after{
        content: attr(data-value);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        font-size: 15px;
        font-weight: bold;
        background-color: darken(white,5%);
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(black, 0.1);
        border: 2px solid white;
        z-index: 0;
      }
    }
  }

  .ball-rack{
    position: absolute;
    z-index: 3;
    height: 50px;
    width: 160px;
    left: 50%;
    bottom: -25px;
    transform: translateX(-50%);
    background-color: darken(white, 30%);
    border: 2px solid darken(white, 5%);
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    .ball-empty{
      margin-right: 10px;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      background-color: darken(white, 10%);
      &:last-child{
        margin-right: 0;
      }
      position: relative;
      box-shadow: 0 2px 5px rgba(black, 0.1);
      &:after{
        content: attr(data-value);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        background-color: darken(white,5%);
        border-radius: 50%;
        font-weight: 600;
        font-size: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 2px 5px rgba(black, 0.1);
        border: 2px solid white;
      }
    }
  }

  .avatar{
    position: absolute;
    background-image: url("../assets/logo.png");
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid darken(white, 10%);
    background-color: black;
    background-size: 50px 50px;
    background-repeat: no-repeat;
    background-position: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    z-index: 5;

    &:after{
      z-index: 1;
      content: "";
      position: absolute;
      top: -2px;
      left: -2px;
      height: calc(100% + 4px);
      width: calc(100% + 4px);
      border-radius: 50%;
      border: 1.5px solid rgba(black, 0.2);
      box-sizing: border-box;
    }
    &:before{
      z-index: 1;
      content: "";
      position: absolute;
      top: -7.5px;
      left: -7.5px;
      height: calc(100% + 15px);
      width: calc(100% + 15px);
      border-radius: 50%;
      border: 1.5px solid white;
      box-sizing: border-box;
    }
  }

  .kicker{
    position: absolute;
    z-index: 4;
    background-color: #b2a880;
    top: 50%;
    left: 50%;
    width: 90%;
    transform-origin: center center;
    transform: translate(-50%, -50%) rotateZ(0);
    height: 10px;
    border-radius: 50%;
  }

  .cover-rack{
    position: absolute;
    background-image: url("../assets/bg3.png");
    background-size: cover;
    background-repeat: no-repeat;
    top: 50px;
    box-sizing: border-box;
    left: 0;
    width: 100%;
    height: 350px;
    background-position: center;
    z-index: 6;
    border: 2px solid rgba(white, 0.8);
    border-radius: 50%;
  }
}

.keys-con{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 10px;
  width: 100%;
  min-width: 200px;
  max-width: 400px;

  @media screen and (max-width: 768px) {
    max-width: 200px;
  }

  .key-item{
    background-color: white;
    color: black;
    font-weight: 500;
    height: 40px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .3s ease;

    &:hover{
      background-color: $buttonColor;
      color: white;
    }

    img{
      width: 20px;
    }
  }
}

@keyframes rotate {
  to{
    transform-origin: center center;
    transform: translate(-50%, -50%) rotateZ(180deg);
  }
}
